<!-- Phan dau -->
<div class="our-featue">
  <h2 class="feature-title"> <a href="#">TẦM NHÌN - SỨ MỆNH </a></h2>
  <div class="feature-layout">

    <div class="feature-item">
      <img src="http://storage.vinaseed.com.vn/Data/2019/11/27/icon-our-1-637104842340624603.png">
      <h4 class="feature-item-title"><a href="#">TẦM NHÌN</a></h4>
      <p>Vinaseed phấn đấu trở thành Tập đoàn cung cấp các giải pháp phát triển nông nghiệp bền vững hàng đầu Việt
        Nam,
        thực hiện giấc mơ cải thiện thu nhập và điều kiện sống của nông dân Việt Nam.</p>

    </div>
    <div class="feature-item">
      <img src="http://storage.vinaseed.com.vn/Data/2019/11/27/icon-our-2-637104842339843318.png">
      <h4 class="feature-item-title"><a href="#">SỨ MỆNH</a></h4>
      <p>Bằng tất cả tình cảm và trách nhiệm của mình với cuộc sống con người và xã hội, Vinaseed cam kết mang đến
        các giải pháp phát triển nông nghiệp bền vững,
        nhằm thực hiện giấc mơ cải thiện thu nhập và điều kiện sống của nông dân Việt Nam.</p>
    </div>
    <div class="feature-item">
      <img src="http://storage.vinaseed.com.vn/Data/2019/11/27/icon-our-3-637104842340624603.png">
      <h4 class="feature-item-title"><a href="#">GIÁ TRỊ CỐT LÕI</a></h4>
      <p>Năng động – Sáng tạo – Chuyên nghiệp</p>
    </div>


  </div>
</div>
<!-- Phan giua -->
<div class="main-feature">
  <section id="main">
    <div class="main-left-col">
      <img src="http://storage.vinaseed.com.vn/Data/2020/03/15/1-home-cong-nghe-noi-bat-637198920982767111.jpg">
    </div>

    <div class="main-right-col">
      <div class="main-right-text">
        <div class="main-right-text-title">
          <h1><a href="#">CÔNG NGHỆ NỔI BẬT</a></h1>
        </div>
        <h3><a href="#">CÔNG NGHỆ CHỌN TẠO GIỐNG CÂY TRỒNG</a></h3>

        <span class="square"></span>

        <p>Vinaseed là doanh nghiệp KHCN đầu tiên trong ngành giống cây trồng Việt Nam, tiên phong trong hoạt động
          nghiên cứu, ứng dụng và chuyển giao công nghệ với các giải pháp đột phá,
          đi trước và định hướng thị trường. Hệ thống cơ sở hạ tầng phục vụ nghiên cứu hiện đại, đội ngũ chuyên gia hùng
          hậu, nhân sự trên 1000 lao động với 80% có trình độ đại học và trên đại học hoàn toàn làm chủ công nghệ chọn
          tạo giống tiên tiến trên thế giới, công nghệ sản xuất hạt lai, công nghệ sản xuất nông nghiệp 4.0.</p>
        <span class="square"></span>
      </div>
      <div id="myDIV">
        <button type="button" (click)="click()" class="btn active">1</button>
        <button type="button" (click)="click2()" class="btn ">2</button>
        <button type="button" (click)="click3()" class="btn">3</button>

      </div>


    </div>

  </section>
</div>
<!-- Phan giua 2 -->
<section id="second-feature">
  <div class="second-row">
    <div class="second-left-col">
      <div class="second-left-text">
        <div class="second-left-text-title">
          <h1><a href="#">LĨNH VỰC KINH DOANH CHÍNH</a></h1>
        </div>
        <img class="img-im"
          src="http://storage.vinaseed.com.vn/Data/2019/11/25/img-services-icon-637103203170860192.png">
        <h3><a href="#">NGHIÊN CỨU, CHỌN TẠO, SẢN XUẤT KINH DOANH GIỐNG CÂY TRỒNG</a></h3>
        <span class="square2"></span>
        <p>Vinaseed tập trung nghiên cứu, phát triển các dòng sản phẩm năng suất,
          chất lượng vượt trội, có khả năng thích ứng với biến đổi khí hậu toàn cầu,
          tiếp cận xu thế của thế giới về chuẩn sản phẩm an toàn và chất lượng</p>
      </div>

      <div id="myDIV">
        <button type="button" (click)="click()" class="btn active">1</button>
        <button type="button" (click)="click2()" class="btn ">2</button>
        <button type="button" (click)="click3()" class="btn">3</button>

      </div>

    </div>
    <div class="second-right-col">
      <img src="http://storage.vinaseed.com.vn/Data/2020/03/15/1-home-linh-vuc-kd-637198923330584194.jpg">
    </div>
  </div>
</section>

<!-- Phan giua 3 -->
<div id="product">
  <div class="product-container">
    <div class="product-text">
      <div class="product-text-title">
        <h1><a href="#">SẢN PHẨM KINH DOANH</a></h1>
      </div>
      <div class="product-text-content">
        <h3><a href="#">THỰC HIỆN ƯỚC MƠ NÂNG TẦM NÔNG NGHIỆP VIỆT</a></h3>
        <span class="square2"></span>

      </div>


    </div>
    <p>Vinaseed nỗ lực hết mình theo đuổi sự hoàn thiện và liên tục cải tiến không ngừng để nâng cao chất lượng sản phẩm
      và hiệu quả trong mọi hoạt động,
      đem đến cho mọi người dân Việt Nam những sản phẩm giá trị gia tăng lớn nhất với chi phí hợp lý và an toàn cho sức
      khỏe con người.</p>

    <div class="container text-center my-3">

      <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
          <div class="carousel-item row no-gutters active">
            <div class="col-3 float-left"><img class="img-fluid"
                src="https://baodansinh.mediacdn.vn/2020/4/20/hat-lua-giong-1587375974080937502346.jpg"></div>
            <div class="col-3 float-left"><img class="img-fluid"
                src="https://thucphamtotnhat.vn/Images/image/Nam%202020/Thang%208/nong%20san%20an%20toan_thucphamtotnhat_vn.jpg">
            </div>
            <div class="col-3 float-left"><img class="img-fluid"
                src="https://vca.org.vn/upload/images/2020/GIAMNGHEO/TBR225-Binh-dinh-sua.jpg"></div>
            <div class="col-3 float-left"><img class="img-fluid"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqGVZb4glUA5PJmkTvJJJXE_jf5zIcZC7-Pg&usqp=CAU">
            </div>
          </div>
          <div class="carousel-item row no-gutters">
            <div class="col-3 float-left"><img class="img-fluid"
                src="https://baodansinh.mediacdn.vn/2020/4/20/hat-lua-giong-1587375974080937502346.jpg"></div>
            <div class="col-3 float-left"><img class="img-fluid"
                src="https://thucphamtotnhat.vn/Images/image/Nam%202020/Thang%208/nong%20san%20an%20toan_thucphamtotnhat_vn.jpg">
            </div>
            <div class="col-3 float-left"><img class="img-fluid"
                src="https://vca.org.vn/upload/images/2020/GIAMNGHEO/TBR225-Binh-dinh-sua.jpg"></div>
            <div class="col-3 float-left"><img class="img-fluid"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqGVZb4glUA5PJmkTvJJJXE_jf5zIcZC7-Pg&usqp=CAU">
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#recipeCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#recipeCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


    </div>
    </div>
    </div>
