.carousel-item {
    
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}
.ant-statistic-content-value {
  color: white;
  font-size: larger;
}
a {
text-decoration: none;
}
.time {
text-align: center;
width: 300px;
height: 60px;
border-radius: 2%;
border: 2px solid rgba(235, 86, 28, 0.822);
padding: 7px;
background-color: rgb(230, 180, 165);
color: rgb(0, 0, 0, 28);
}

nz-countdown {
margin-top: 40px;
}

.sale {
font-weight: bolder;
margin-top: 30px;
text-align: center;
}


.feature-layout{
margin-top: 50px;
display: flex;
justify-content:space-evenly;
color: white;
font-family: Arial, Helvetica, sans-serif;

}

.feature-item{
padding: 12px 16px;
margin-top: 5px;
flex-basis: 30%;
margin-left: 83px;

}
.our-featue{
padding-top: 50px;
width: 100%;
height: 80vh;
background-image: url(http://www.vinaseed.com.vn/img-fix/bg-section.png);

}

.feature-item-title{
padding-top: 20px;
}

.feature-title{
margin-left: 97px;


}
.feature-item-title a{
color: white;

}

.feature-title a{
color: white;
}

.feature-item a:hover{
color:greenyellow;
text-transform: uppercase;

}

.feature-title a:hover{
color:greenyellow;
}

#main{

display: flex;
align-items: center;
flex-wrap: wrap;
margin-left:100px;


}

.main-left-col{
flex-basis: 50%;
}

.header-left-col img{
width: 85%;
}

.main-right-col{
flex-basis: 50%;


}



.main-right-text{
max-width: 500px;   
margin-right: 100px;
display: inline-block;
font-family: Arial, Helvetica, sans-serif;
margin-left: 100px;
}


.square{
height: 5px;
width: 323px;
display:inline-block ;
background:greenyellow;
margin: 15px 0;

}

// .button-head{
//   padding: 18px 40px;
//   background: transparent;
//   outline: none;
//   cursor: pointer;
//   border: 2px solid #333;
//   font-weight: bold;
// }

// .main-right-text button{
//   margin-top: 20px;
//   margin-bottom: 60px;
// }

.main-right-text a:hover{
color:greenyellow;
}

.main-right-text a{
color: #333;
}

.main-right-text-title a{
color:green;
}

.main-left-col{
//z-index: 1;
margin-top: -150px;
}




.main-feature{
padding-top: 50px;
}

.active, .btn:hover {

color:#333 ;
}

.btn {
border: none;
outline: none;
padding: 10px 16px;
background-color:greenyellow;
cursor: pointer;
font-size: 18px;
margin-left: 100px;
}

.btn active{
margin-left: 150px;
}

#second-feature{
padding: 100px 0;
}

.second-row{
display: flex;
align-items: center;
flex-wrap: wrap;
}

.second-right-col{
flex-basis: 50%;
}

.second-right-col img{
width: 85%;
}

.second-left-col{
flex-basis: 50%;
}

.second-left-text{
max-width: 500px;
margin-left: 100px;
display: inline-block;
font-family: Arial, Helvetica, sans-serif;
}

.square2{
height: 5px;
width: 327px;
display:inline-block ;
background:greenyellow;
margin: 15px 0 15px 0;

}

.img-im{
padding: 20px 0 42px ;
}

.second-left-text a:hover{
color:greenyellow;
}

.second-left-text a{
color: #333;
}

.second-left-text-title a{
color:green;
}



.product-container{
max-width: 1300px
}

.product-container{
margin-left: 99px;
}

.product-text{
max-width: 500px;

display: inline-block;
font-family: Arial, Helvetica, sans-serif;
}

.product-text a:hover{
color:greenyellow;
}

.product-text a{
color: #333;
}

.product-text-title a{
color:green;
}
.carousel-control-prev{
bottom: 70px;
}

.carousel-control-next{
bottom: 70px;
}
.img-fluid{
height: 230px;
}
