<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
        [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="https://ng.ant.design/" target="_blank">
                <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
                <h1>Ant Design Of Angular</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
                <ul>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="role">Product</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="brand">Brand</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="loai-day">Loai Day</a>
                    </li>
                    <li nz-menu-item nzMatchRouter>
                        <a routerLink="mat-dong-ho">Mat Dong Ho</a>
                    </li>
                </ul>
            </li>
            <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
                <ul>
                    <li nz-menu-item nzSelected nzMatchRoute nzMatchRouter>
                        <a>Basic Form</a>
                    </li>
                </ul>
            </li>
            <li nz-menu-item nzSelected nzMatchRoute nzMatchRouter>
                <a href class="nav-link" (click)="logout()">Logout</a>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                </span>
            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>