.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .portfolio-item {
    margin-bottom: 30px;
  }
  .withcarousel {
    height: 70vh;
  }
  .lol{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: rgb(255, 255, 255);
  }
  .lil{
    width: 19px;
    height: 19px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: rgb(255, 255, 255);
  }
  .modalover{
    position: relative;
  }
  .modaloverlay{
    position: absolute;
    width: 100%;
    height: 100%;
    //background-color: rgba(0,0,0,0.5);
    //z-index: 1;
  }
  
  .carousel-control-prev,.carousel-control-next{
    top: 50%;
    width: 50px;
    height: 50px;
    z-index: auto;
  }
  