<div class="modalover" *ngIf='check'>
  <div class="modaloverlay"></div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    
    <ol class="carousel-indicators ">
      <li class="lol" data-target="#carouselExampleIndicators" *ngFor="let ind of listImg ; index as i" data-slide-to="(i)" [ngClass]="{'active': i==0}"></li>
    </ol>
    
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item" *ngFor="let item of listImg;index as i" [style.background-image]="'url('+ item.data+')'" [ngClass]="{'active': i==0}">
        <div class="carousel-caption d-none d-md-block" >
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div>
</div>

<div class="modalover" *ngIf='!check'>
  <div class="modaloverlay"></div>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
    <ol class="carousel-indicators">
      <li class="lil" data-target="#carouselExampleIndicators" *ngFor="let ind of listImg ; index as i" data-slide-to="(i)" [ngClass]="{'active': i==0}"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item withcarousel" *ngFor="let item of listImg;index as i" [style.background-image]="'url('+ item.data+')'" [ngClass]="{'active': i==0}">
        <div class="carousel-caption d-none d-md-block" >
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
