 <nav class="navbar navbar-light navbar-expand-lg mainmenu bg-primary" style="text-align: center;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <ng-container *ngFor='let item of linkNav ; index as i'>
                        <li   *ngIf='item.son.length === 0 && i===0' class="active"><a href="#" >{{item.name}}</a></li>
                        <li   *ngIf='item.son.length === 0 && i!==0'><a href="#" >{{item.name}}</a></li>
                        <ng-container *ngIf='item.son.length > 0'>
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{item.name}}</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <ng-container *ngFor='let it of item.son'>
                                        <li   *ngIf='it.son.length === 0'><a href="#" >{{it.name}}</a></li>
                                        <ng-container *ngIf='it.son.length > 0'>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{it.name}}</a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <li *ngFor = 'let test of it.son'><a href="#">{{test.name}}</a></li>
                                            </ul>
                                        </li>
                                        </ng-container>                   
                                    </ng-container>
                                </ul>
                            </li>                            
                        </ng-container>                        
                    </ng-container>   
                    </ul>
                </div>
            </nav>
                     